@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./Bg_2_1980.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
}
h1
 {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
}
h2
 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
p{
    padding: 15px;
}
a{
    color: blue;
}
